
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  
    <div class="home">
        <h1>Welcome to Meeting Scheduler App</h1>
        <p>Schedule and manage your meetings efficiently.</p>
        <div class="buttons">
          <a routerLink="/schedule-meeting" class="btn btn-primary"><i class="fas fa-calendar-plus"></i> Schedule Meeting</a>
          <a routerLink="/view-details" class="btn btn-secondary"><i class="fas fa-calendar-alt"></i> View Meetings</a>
        </div>
      </div>
</body>
</html>



 
