<h4 class="title">Meeting Details:</h4>
<table class="meeting-table">
  <thead>
    <tr>
      <th>Created By</th>
      <th>Meeting With</th>
      <th>Meeting Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Description</th>
      <th>Created By Email</th>
      <th>Meeting With Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meeting of meetingDetails; let i = index">
      <td>{{ meeting.createdBy }}</td>
      <td>{{ meeting.meetingWith }}</td>
      <td>{{ meeting.meetingDate }}</td>
      <td>{{ meeting.startTime }}</td>
      <td>{{ meeting.endTime }}</td>
      <td>{{ meeting.description }}</td>
      <td>{{ meeting.createdByEmail }}</td>
      <td>{{ meeting.meetingWithEmail }}</td>
      <td><button mat-icon-button color="warn" class="delete-button" (click)="confirmDelete(i)"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
</table>

  